<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>

    <div class="row">
      <div class="col-md-6 col-md-offset-2 alert alert-danger alert-dismissable field form-group alert-block">
          <div id="error_explanation">
              <h4><%= pluralize(@person.errors.count, "error alert-error") %> prohibited this person from being saved:</h4>

              <ul>
              <% @person.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="field row form-group">
      <div class="col-md-2">
        <%= f.label :first_name %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="field row form-group">
      <div class="col-md-2">
        <%= f.label :last_name %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="field row form-group">
      <div class="col-md-2">
        <%= f.label :date_of_birth %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :date_of_birth, class: "form-control" %>
      </div>
    </div>

    <div class="field row form-group">
      <div class="col-md-2">
        <%= f.label :bio %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :bio, class: "form-control" %>
      </div>
    </div>


    <div class="field form-group row">
      <div class= "col-md-2 col-md-offset-2">
        <%= f.check_box :active %>
        <%= f.label :active %>
      </div>
    </div>
    <div class="actions col-md-offset-2">
      <%= f.submit class: "btn btn-info" %>

      <%= link_to 'cancel', people_path, class: "btn btn-default" %>
    </div>


<% end %>
